apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-exporter-config
  namespace: monitoring
data:
  blackbox.yaml: |
    modules:
      http_wordpress:
        prober: http
        timeout: 10s
        http:
          method: GET
          preferred_ip_protocol: ip4
